{% extends "layout.html" %}
{% block content %}
  <style>
     /* Full-width input fields */
    input[type=text], input[type=password] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }

    /* Set a style for all buttons */
    button {
      background-color: #04AA6D;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
    }

    button:hover {
      opacity: 0.8;
    }

    /* Extra styles for the cancel button */
    .cancelbtn {
      width: auto;
      padding: 10px 18px;
      background-color: #f44336;
    }

    /* Center the image and position the close button */
    .imgcontainer {
      text-align: center;
      margin: 24px 0 12px 0;
      position: relative;
    }

    img.avatar {
      width: 40%;
      border-radius: 50%;
    }

    .container {
      padding: 16px;
    }

    span.psw {
      float: right;
      padding-top: 16px;
    }
  </style>
  <div class="content-section">
    <form method="POST" action="">
      {{ form.hidden_tag() }}

      <div class="container">
        <div class="form-group">
          {{ form.username.label(class="form-control-label") }}
          {% if form.username.errors %}
            {{ form.username(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.username.errors%}
                  <span>{{error}}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.username(class="form-control form-control-lg") }}
          {% endif %}
        </div>

        <div class="form-group">
           {{ form.password.label(class="form-control-label") }}
           {% if form.password.errors %}
             {{ form.password(class="form-control form-control-lg is-invalid") }}
             <div class="invalid-feedback">
               {% for error in form.password.errors%}
                   <span>{{error}}</span>
               {% endfor %}
             </div>
         {% else %}
             {{ form.password(class="form-control form-control-lg") }}
         {% endif %}
        </div>

        <button type="submit">Login</button>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
      </div>

      <div class="form-group">
        {{ form.login(class="btn btn-outline-info") }}
      </div>
    </form>
    
  </div>

{% endblock content %}